<h1><%= @employee.employee_name %></h1>

<hr>

<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <h2>Add project:</h2>

    <%= render "layouts/employee_project_form" %>
  </div>
  <div class="col-sm-4">
    <h2>Add division:</h2>

    <%= render "layouts/employee_division_form" %>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-sm-4">
    <p><%= link_to "Edit", edit_employee_path(@employee) %></p>
    <p><%= link_to "Delete", employee_path(@employee),
      :data => {:confirm => "You sure?",
      :method => "delete"} %></p>
    </div>
    <div class="col-sm-4">
      <% if @projects.any? %>
      <ul>
        <% @projects.each do |project| %>
        <li><%= link_to project.project_name, project_path(project) %>

          <%= form_for @employee do |f| %>
          <%= hidden_field_tag 'project_id', project.id %>
          <%= submit_tag "Remove project", id: project.id %>
          <% end %>

        </li>
        <% end %>
      </ul>
      <% else %>
      <p>There are no projects yet.</p>
      <% end %>
    </div>
    <div class="col-sm-4">
      <% if @divisions.any? %>
      <ul>
        <% @divisions.each do |division| %>
        <li><%= link_to division.division_name, division_path(division) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>There are no divisions yet.</p>
      <% end %>
    </div>
  </div>

  <hr>









  <p><%= link_to "Return to employees", employees_path %></p>
