<!DOCTYPE html>
<html>
<head>
  <title>EmployeeTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">

    <% content_for(:navbar) do %>
    <p><a href="/">Home</a> |
      <%= link_to "Divisions", divisions_path %> |
      <%= link_to "Projects", projects_path %> |
      <%= link_to "Employees", employees_path %>
    </p>
    <% end %>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield :navbar %>

    <%= yield %>
  </div>

</body>
</html>


<!-- <p><%= link_to "Divisions", divisions_path %> | <%= link_to "Projects", projects_path %> | <%= link_to "Employees", employees_path %> </p> -->
