<!DOCTYPE html>
<html>
<head>
  <title>EmployeeTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">

    <% content_for(:navbar) do %>
    <h3 class="navbar"><a href="/">Home</a> |
      <%= link_to "Divisions", divisions_path %> |
      <%= link_to "Projects", projects_path %> |
      <%= link_to "Employees", employees_path %>
    </h3>
    <% end %>

    <% if current_user %>
    <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
    <% else %>
    <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
    <% end %>

    <%= yield :navbar %>


    <%= flash[:alert] %>
    <%= flash[:notice] %>




    <%= yield %>
  </div>

</body>
</html>


<!-- <p><%= link_to "Divisions", divisions_path %> | <%= link_to "Projects", projects_path %> | <%= link_to "Employees", employees_path %> </p> -->
